/* Add styling for all pages */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Make sure the body takes at least the full viewport height */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    /* Push the footer to the bottom */
    width: 100%;
}

.logo img {
    width: 100px;
    /* Adjust the width as needed */
}

.footer-content {
    margin-top: 10px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 8px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Add styling for team selection page */
.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.team-card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.team-card:hover {
    background-color: #f0f0f0;
}

.team-card.selected {
    border-color: #007bff;
}

.start-tournament-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.start-tournament-btn:hover {
    background-color: #0056b3;
}

/* Add styling for tournament page */
.game-list {
    margin-bottom: 20px;
}

.game {
    margin-bottom: 10px;
}

.play-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.play-btn:hover {
    background-color: #0056b3;
}

.continue-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.continue-btn:hover {
    background-color: #218838;
}

.selected-team {
    font-weight: bold;
}